/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  /* line-height: 1; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body * {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.titleBox {
  text-align: center;
}

.titleBox h4 {
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
}

.titleBox h2 {
  font-size: 35px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.bg_G {
  position: relative;
  overflow-y: hidden;
  padding: 25px 0px;
}

.bg_G:before {
  content: "G";
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  font-size: 150px;
  color: #a8d4ad;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  z-index: 1;
  pointer-events: none;
}

.titleBox h2 .green_text {
  font-weight: 500;
}

.overview_section .boxWrapper {
  background: #fff;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
  border-radius: 8px;
}

.overview_section .boxWrapper:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.overview_section .boxWrapper:hover .caption{
    color: #fff;
}

.overview_section .boxWrapper .iconHead {
}
.overview_section .boxWrapper .iconHead img {
  width: 60px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}
.overview_section .boxWrapper .caption {
  width: 80%;
  margin: auto;
  text-align: center;
  transition: .6s;
}
.overview_section .boxWrapper:hover {
  background-color: #42ad4f;
}

.overview_section .boxWrapper:hover .iconHead img {
  filter: brightness(10);
}

.image_box img {
  width: 100%;
}

p.lead {
  font-size: 16px;
  margin-bottom: 20px;
}

.content ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
}

.content ul li i {
  display: inline-block;
  margin-right: 10px;
  color: #42ad4f;
}

.car_overviewMatch .image_box {
  position: relative;
  z-index: 2;
  height: 100%;
}
.car_overviewMatch .image_box img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.car_overviewMatch .titleBox {
  text-align: left;
  position: relative;
  left: -10vw;
  z-index: 3;
  margin-bottom: 25px;
}
.car_overviewMatch .titleBox img {
  width: 400px;
}

/* sticky form code */
.stickyForm {
  position: fixed;
  top: 25%;
  width: 310px;
  right: -310px;
  text-align: center;
  padding: 17px;
  background: rgba(84, 84, 84, 0.81);
  border-radius: 11px 0px 0 11px;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  z-index: 9999;
}

.stickyForm.active {
  right: 0px;
  border: 1px solid #2a3958;
}

.stickyForm .btn {
  background: #42ad4f;
  padding: 10px 30px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  left: -97px;
  color: #fff;
  height: 40px;
  border-radius: 7px 7px 0 0;
  font-size: 15px;
  cursor: pointer;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  border: 0;
  perspective: 100px;
  outline: 0 !important;
  box-shadow: none;
}

.stickyForm input#phone {
  /*padding-left: 50px !important; */
}

body .stickyForm label {
  width: 100% !important;
}

body .stickyForm input[type="text"],
body .stickyForm input[type="email"],
body .stickyForm input[type="tel"],
body .stickyForm textarea,
body .stickyForm .intl-tel-input {
  width: 100% !important;
  border: 0;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #42ad4f;
  margin-bottom: 13px;
}

.stickyForm [type="submit"] {
  background: #2a3958;
  color: white;
  border: 0;
  padding: 10px 25px;
  border-radius: 2px;
  border: 1px solid #2a3958;
}

body .stickyForm ._checkbox {
  margin-bottom: 10px;
}

body .stickyForm ._checkbox .text {
  text-align: left;
  margin-bottom: 10px;
}

body .stickyForm ._checkbox label {
  width: 50% !important;
  float: left;
  padding-right: 5px;
}

body .stickyForm ._checkbox span {
  padding-left: 4px;
  font-size: 13px;
  float: left;
}

.stickyForm,
.stickyForm.active .btn {
  background: #fff;
  border: 1px solid #2a3958;
  color: #2a3958;
}

.stickyForm ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  letter-spacing: 0px;
  color: #ccc;
}

.stickyForm :::-moz-placeholder {
  /* Firefox 19+ */
  letter-spacing: 0px;
  color: #ccc;
}

.stickyForm ::-ms-input-placeholder {
  /* IE 10+ */
  letter-spacing: 0px;
  color: #ccc;
}

.stickyForm :-moz-placeholder {
  /* Firefox 18- */
  letter-spacing: 0px;
  color: #ccc;
}

body .stickyForm select {
  width: 100%;
  color: #fff;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #fff;
  height: 40px;
}

body .stickyForm .btn-group {
  margin-top: 20px;
}

body .stickyForm .error {
  margin-bottom: 0 !important;
}

body .stickyForm label.error {
  padding: 7px 0;
}

body .stickyForm [type="submit"] {
  background: #42ad4f !important;
  color: #fff;
  height: 40px !important;
  padding: 0px 30px !important;
  /* box-shadow: 0 0 8px 3px rgba(99, 99, 99, 0.32); */
}
body .stickyForm textarea {
  height: auto;
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  color: #fff;
}

body .stickyForm .btn:hover {
  color: #fff;
}

body .stickyForm .btn:focus {
  color: #fff;
}

body .stickyForm.active .btn:hover {
  color: #2a3958;
}

body .stickyForm.active .btn:focus {
  color: #2a3958;
}

body .stickyForm label.error {
  background: #fff;
  color: red;
  font-size: 12px;
  margin-top: 10px;
  border-radius: 3px;
}

.stickyForm input {
  outline: none !important;
  color: #42ad4f;
}

/* end of sticky form code */

/* Header */
.absolute_header {
  position: absolute;
  width: 100%;
  padding: 15px;
  z-index: 999;
}
#header .brand-logo {
}
#header .brand-logo img {
  width: 150px;
}
ul.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

ul.menu li a {
  color: #fff;
  text-decoration: none;
  font-family: "Myriad Pro Regular", sans-serif;
  text-transform: uppercase;
}

ul.menu li {
  margin-right: 20px;
}
/* Header */

/* heroBanner */
.heroBanner {
  background-image: url("../images/slider.webp");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
}
.headingTitle {
  position: absolute;
  top: 30%;
  right: 23%;
  width: auto;
}

.headingTitle h1 {
  font-size: 90px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
}

.headingTitle h1 span {
  display: block;
  line-height: 130px;
}

span.green_text {
  color: #42ad4f;
  font-weight: 300;
}

.headingTitle {
}

.headingTitle button.btn.btn-primary {
  padding: 10px 20px;
  background: transparent;
  font-size: 18px;
  border: 1px solid #fff;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.headingTitle h1 span.white_text {
  display: inline-block;
  margin-left: 70px;
}
/* heroBanner */
.pink_bg {
  background: #f8f4da;
}

.space-pd {
  padding: 70px 0px;
}

.signature_image {
  margin-top: 30px;
}

.signature_image img {
  width: 180px;
}

.light_green_bg {
  background-color: #e4f3e5;
}

.drive_easier_wrapper .titleBox {
}

.drive_easier_wrapper .titleBox img {
  width: 35%;
}

.drive_easier_wrapper .bg_G:before {
  display: none;
}

.drive_easier_wrapper p.sub {
  color: #000;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.drive_easier_wrapper .green_box {
  text-align: center;
}

.drive_easier_wrapper .green_box .icon_image {
  margin-bottom: 20px;
}

.drive_easier_wrapper .green_box .icon_image img {
  width: 80px;
  margin: auto;
  display: block;
}

.drive_easier_wrapper .green_box .caption {
  font-weight: 500;
}

/*  */
.footerFormInner {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.footerForm {
  padding: 30px 0px;
}

.footerFormInner .input-block {
  margin: 0px 20px;
  width: 25%;
}

.footerFormInner .input-block input {
  width: 100%;
  background: transparent;
  color: #fff;
}

.footerFormInner .input-block .label {
  display: block;
  min-height: 25px;
  color: #fff;
  margin-bottom: 10px;
}

.footerFormInner .input-block input[type="submit"] {
  background-color: #000;
}

.footerFormInner .input-block label.error {
  display: none !important;
}

.footerFormInner .input-block input.error {
  color: red;

  border: 1px solid red;
}

section.footerForm .titleBox h2 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}

section.footerForm .intl-tel-input .selected-flag {
  height: 36px;
}

p.copyright {
  text-align: center;
  padding: 10px 0px;
}

/*  */

/*Media Query*/
@media (min-width: 1660px) {
}
@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 996px) {
}

@media (max-width: 768px) {
  .heroBanner {
    height: 50vh;
  }
  .headingTitle {
    right: 15%;
    top: 35%;
  }
  .headingTitle h1 {
    font-size: 60px;
  }
  .headingTitle h1 span {
    line-height: 75px;
  }
  .car_overviewMatch .titleBox {
    left: -15vw;
  }
}

@media (max-width: 650px) {
  ul.menu {
    display: none;
  }
  .headingTitle {
    width: 100%;
    left: 0px;
    right: 0px;
    top: 50%;
    bottom: auto;
    text-align: center;
    margin: auto;
  }
  .heroBanner {
    height: 100vh;
  }
  .headingTitle h1 {
    width: 100%;
    font-size: 50px;
  }
  .headingTitle h1 span.white_text {
    margin: auto;
  }
  .headingTitle h1 span {
    line-height: 60px;
  }
  .space-pd {
    padding: 30px 0px;
  }
  .overview_section .titleBox h2 {
    line-height: 35px;
    margin-top: 10px;
  }
  .overview_section .boxWrapper {
    margin-bottom: 20px;
  }
  .overview_section .boxWrapper .iconHead img {
    width: 50px;
  }
  .car_overviewMatch .image_box img {
    width: 100%;
    height: auto;
  }
  .car_overviewMatch .titleBox {
    left: auto;
  }
  .car_overviewMatch .titleBox img {
    width: 290px;
    margin: auto;
    display: block;
    margin-top: 30px;
  }
  .car_overviewMatch .content {
    width: 85%;

    margin: auto;

    text-align: left;
  }
  .drive_easier_wrapper .green_box {
    margin-bottom: 30px;
  }
  .drive_easier_wrapper p.sub {
    margin: 0px;
    margin-top: 15px;
    font-size: 20px;
  }
  .drive_easier_wrapper .titleBox img {
    width: 75%;
  }
  .footerFormInner .input-block{
    width: 100%;
    margin-bottom: 15px;
  }
  .footerFormInner{
    flex-wrap: wrap;
  }
  .footerFormInner .input-block .label:empty{
    display: none;
  }
}
