/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

b {
  font-family: "Gotham";
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: relative;
  z-index: 999;
  background: transparent;
  /*  */
}

section#hero_banner_section {
  position: relative;
  height: auto !important;
  overflow-x: hidden;
  transition: 0.6s;
  z-index: 9;
  /*  */
}

img {
  width: 100%;
}

header ul.menu {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

header ul.menu li a {
  padding: 15px 0px;
  display: block;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: 0.6s;
}
header ul.menu li {
  display: block;
  margin: 0px 15px;
  /*  */
}
header.fixed-header ul.menu li a {
  color: #000;
}

header ul.menu li a:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  background: #fff;
  right: -8px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.space-pd {
  padding: 70px 0px;
}

.space-pd-top {
  padding-top: 70px;
}

.space-pd-bottom {
  padding-bottom: 25px;
}

.hero_banner_form_inner .input-block input::placeholder {
  color: #fff;
}

p.lead {
  font-size: 18px;
  font-family: "Gotham Book", sans-serif;
}

.banner_form_inner form .header_form_title h2 {
  color: #fff;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.banner_form_inner form .input-block {
  margin-bottom: 10px;
}

.banner_form_inner form .input-block input {
  height: 45px;
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #ccc;
  color: #000;
  padding-left: 15px;
  border-radius: 10px;
}

/* new */
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-light;
  src: url(../fonts/Lato-Light.otf);
}

body {
  line-height: 1;
  overflow-x: hidden;
  font-family: "Lato";
}
/* header  */
.header-wrapper {
  width: 100%;
}
.mobile_logo img {
  width: 70%;
}
/* header  */

/* style by adi  */

.d2m-headerTop {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 50px;
}

ul.navContent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navContent li,
.navContent li a {
  list-style-type: none;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
  color: black;
}

/* 2. Body Styling */

.d2m-banner {
  width: 100%;
  position: relative;
}

.containerBorder {
  /* border-top: 2px dashed #42ad4f63;
  border-top-right-radius: 95%;
  width: 75%;
  padding: 10px 0px 10px 0px; */
}

.d2m-bannerImg {
  /* background-color: #ecffee; */
  width: 100%;
  height: 95vh ;
  /* border-radius: 0 90% 0px 0px;
  position: relative;
  right: 10px; */
}

.d2m-bannerImg img {
  /* position: absolute; */
  /* bottom: -21px; */
  /* right: 35%; */
  width: 65%;
}
section.banner-section {
  position: relative;
}
.d2m-bannerContent {
  position: absolute;
  width: 45%;
  right: 0px;
  bottom: 22%;
}

.contentHeading h2 {
  font-size: 40px;
  line-height: 53px;
}

.contentInfo p {
  font-size: 20px;
  width: 75%;
  line-height: 28px;
  padding-top: 26px;
  color: #5f5f5f;
}

.d2m-appLink {
  display: flex;
  padding-top: 50px;
  gap: 25px;
}
.d2m-app {
  width: 35%;
}
.d2m-app img {
  width: 100%;
}

/* Banner bottom */
.d2m-bannerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.overviewContainer {
  display: flex;
  justify-content: space-around;
}

.overviewContent {
  width: 60%;
}

.overviewHeading {
  font-size: 45px;
  font-weight: 400;
  line-height: 2;
}

.overviewContent p {
  line-height: 24px;
  color: #5f5f5f;
  width: 90%;
}

.d2m-solution .rental,
.d2m-solution .repair {
  width: 42%;
  border: 1px solid #42ad4fa3;
  border-radius: 8px;
  padding: 11px;
  box-shadow: #42ad4f4f 2px 2px 5px;
  transition: 0.6s;
}
.d2m-solution .rental:hover,
.d2m-solution .repair:hover {
  transform: scale(1.1);
}
.d2m-solution img {
  width: 50px;
}
.d2m-solution .rental p,
.d2m-solution .repair p {
  font-size: 13px;
  color: #616161;
  line-height: 18px;
  width: 68%;
  padding-top: 10px;
}
/* choose section  */
.choose-section h2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  padding-top: 100px;
  padding-bottom: 30px;
  word-spacing: 3px;
}
.hand-img {
  width: 617px;
  position: relative;
  top: 100px;
  left: -125px;
}
.cards {
  gap: 25px;
}
.cards .rental {
  width: 28%;
  border: 1px solid #42ad4fa3;
  border-radius: 8px;
  padding: 11px;
  box-shadow: #42ad4f4f 2px 2px 5px;
  transition: 0.6s;
  margin: 10px;
  margin-left: 0px;
}
.cards .rental:hover {
  transform: scale(1.1);
}
.cards img {
  width: 50px;
}
.cards .rental p {
  font-size: 13px;
  color: #616161;
  line-height: 18px;
  width: 88%;
  padding-top: 10px;
}
/* choose section  */

/* flip section  */
.title {
  font-size: 20px;
  color: #5f5f5f;
  padding-bottom: 20px;
}
.sub-title {
  font-size: 36px;
  color: #000;
  font-weight: 500;
}

.card {
  width: 200px;
  height: 200px;
  float: left;
  /* perspective: 500px; */
  border: 1px solid #42ad4fa3;
  margin-left: 40px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  /* line-height: 300px; */
  color: #000000;
  text-align: center;
  /* font-size: 60px; */
  border-radius: 5px;
  backface-visibility: hidden;
}
.front img {
  width: 50px;
  padding-top: 49px;
}
.front p {
  width: 65%;
  font-size: 16px;
  margin: 0 auto;
  line-height: 20px;
}

.back {
  background: #42ad4f;
  color: #ffffff;
  transform: rotateY(180deg);
  padding: 15px 10px;
  text-align: left;
  font-size: 16px;
  line-height: 21px;
}
#statistics {
  background: #f9fff9;
  margin-top: 50px;
}
.statistics {
  margin-bottom: 0;
  min-height: 140px;
  cursor: context-menu;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.statistics h3 {
  font-size: 60px;
  text-align: center;
  /* font-weight: 600; */
  transform: translateY(-2px);
  color: #000000;
  transition: all 0.5s;
  display: inline-block;
}
.butterfly_animation_title {
  position: relative;
}
.butterfly_animation_title::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  /* background: url(../images/butterfly.png); */
  width: 0px;
  height: 0px;
  background-position: center;
  background-size: 102%;
  background-repeat: no-repeat;
  transition: 0.6s;
  transform: translate(54px, 48px);
}
.statistics p {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #545454;
  transition: all 0.5s;
  z-index: 1;
  position: relative;
  transform: translateY(0px);
}
/* flip section  */
/* customers */
.customers {
  padding: 30px 20px;
}
.bg-color {
  background: #f9fff9;
}
.customers h2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  /* padding-top: 100px; */
  word-spacing: 3px;
}
.card-item {
  width: 31%;
  padding: 15px;
  border-radius: 6px;
  margin: 25px 10px;
  min-height: 180px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-item p {
  color: #938c8c;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 20px;
}
.card-item span {
  font-size: 19px;
}
/* customers */
/* faq */
.faq {
  background-color: #f9fff9;
}
.faq h2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  word-spacing: 3px;
}
.accordion-wrapper {
  width: 82%;
  margin: 0 auto;
  padding-top: 40px;
}
.accordion-wrapper .accordion-item {
  border: none;
  border: 1px solid rgba(187, 236, 193, 1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.accordion-wrapper .accordion-item .accordion-button {
  border: none;
  height: 70px;
  /* border-radius: 8px; */
  box-shadow: none;
}
.accordion-wrapper .accordion-header button:not(.collapsed) {
  color: #000000;
  box-shadow: none !important;
  background: transparent;
  box-shadow: #42ad4f 0px 1px 4px;
}
.accordion-wrapper .accordion-body {
  color: #545454;
  margin-bottom: 20px;
}
/* faq */
/* footer  */
footer {
  padding-top: 50px;
  padding-bottom: 20px;
}
footer h2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  word-spacing: 3px;
  width: 100%;
  margin: 0 auto;
}
form .form-wrapper {
  width: 80%;
  margin: 25px auto;
}
.form-wrapper .form-select {
  height: 49px;
}
.form-wrapper .form-control {
  height: 50px;
}
.check-price-btn {
  padding: 15px 40px;
  background-color: #42ad4f;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}
.contact-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-details h2,
.social-details h2 {
  font-size: 20px;
}
.contact-details p {
  font-size: 16px;
  color: #5f5f5f;
  padding-left: 0px;
  padding-bottom: 18px;
}
.contact-details span i {
  color: #5f5f5f;
  padding-right: 10px;
}
.social-details {
  width: 15%;
}
.social-details ul {
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 10px;
}
.social-details ul li {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #5f5f5f;
}
.social-details li i {
  color: #5f5f5f;
}
/* footer  */

/* hamburger */

/* Hamburger */
.btn11 {
  position: relative;
  width: 30px;
  height: 40px;
  top: -13px;
  left: 0;
  transition-duration: 0.5s;
  /* margin: auto; */
  margin-right: 0px;
  margin-left: 35px;
}

.btn11 .icon-left {
  transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 15px;
  top: 30px;
  background-color: #212121;
}

.btn11 .icon-left:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: #212121;
  content: "";
  top: -10px;
}

.btn11 .icon-left:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: #212121;
  content: "";
  top: 10px;
}

.btn11 .icon-left:hover {
  cursor: pointer;
}

.btn11 .icon-right {
  transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 15px;
  top: 30px;
  background-color: #212121;
  left: 15px;
}

.btn11 .icon-right:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: #212121;
  content: "";
  top: -10px;
}

.btn11 .icon-right:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: #212121;
  content: "";
  top: 10px;
}

.btn11.open .icon-left {
  transition-duration: 0.5s;
  background: transparent;
}

.btn11.open .icon-left:before {
  transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
}

.btn11.open .icon-left:after {
  transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
}

.btn11.open .icon-right {
  transition-duration: 0.5s;
  background: transparent;
}

.btn11.open .icon-right:before {
  transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
}

.btn11.open .icon-right:after {
  transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
}

.btn11:hover {
  cursor: pointer;
}

/* Hamburger */
.top_menu_wrapper {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
/* hamburger */

form#footer_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0px;
  gap: 25px;
  width: 100%;
}

form#footer_form input {
  height: 45px;
  border: 1px solid rgba(187, 236, 193, 1);
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form#footer_form input[type="tel"] {
  padding-left: 50px;
}

form#footer_form input[type="submit"] {
  width: 100%;
  background: rgba(66, 173, 79, 1);
  color: #fff;
  border-radius: 10px;
  line-height: 0;
}

.copyright_box p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 5px;
  color: #5f5f5f;
}
.copyright_box a {
  text-decoration: none;
  color: #5f5f5f;
}

form#footer_form .input-block,
form#footer_form .input-block input {
  width: 100%;
}

#our-services p.title {
  line-height: 25px;
}

.card-item span {
  line-height: 25px;
}

#footer_form .input-block {
  position: relative;
}
#footer_form label.error {
  position: absolute;
  bottom: -26px;
  left: 0px;
  color: red;
}

.flag-container {
  height: 45px;
}

/* mobile responsive */
@media (max-width: 1800px) {
  .d2m-bannerImg {
    /* height: 65vh; */
    display: flex;
    justify-content: unset;
  }
}
@media (min-width:1200px) and(max-width: 1400px) {
  .d2m-bannerImg {
    height: 65vh;
    display: flex;
    justify-content: unset;
  }
}
@media (max-width: 1200px) {
  .d2m-bannerImg {
    display: flex;
    justify-content: unset;
    height: 65vh;
  }
  .d2m-bannerContent {
    bottom: 10% !important;
  }
  .cards {
    gap: 10px;
  }
  .d2m-solution .rental p,
  .d2m-solution .repair p {
    line-height: 20px;
    width: 85%;
  }
  .cards .rental {
    width: 30%;
  }
  .cards .rental p {
    line-height: 13px;
    width: 100%;
  }
  .card {
    width: 170px;
    height: 185px;
    margin-left: 50px;
  }
  .back {
    font-size: 15px;
    line-height: 20px;
  }
  .contentHeading h2 {
    font-size: 40px;
  }
  .overviewHeading {
    font-size: 40px;
  }
  .choose-section h2 {
    font-size: 40px;
  }
  .customers h2 {
    font-size: 40px;
  }
  .faq h2 {
    font-size: 40px;
  }
  footer h2 {
    font-size: 40px;
  }
}
@media (max-width: 1024px) {
  .contentHeading h2 {
    font-size: 33px;
    line-height: 40px;
  }
  .d2m-bannerContent {
    bottom: 0%;
  }
  .cards {
    gap: 10px;
  }
  .cards .rental p {
    width: 100%;
    min-height: 45px;
  }
}
@media (max-width: 820px) {
  header ul.menu {
    display: none;
    min-height: auto !important;
    position: fixed;
    background: #fff;
    width: 100%;
    position: absolute;
    top: 85px;
    background: #fff;
    width: 90%;
    left: 0px;
    margin: auto;
    right: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 20px;
    padding-top: 15px;
    padding-left: 15px;
  }
  header ul.menu.active {
    margin: auto;
  }

  header ul.menu li a {
    color: #000;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .call_us_btn {
    display: none;
  }
  .d2m-bannerContent {
    width: 50%;
    right: 0px;
    bottom: 10%;
  }
  .d2m-bannerImg {
    height: 32vh;
  }
  .contentHeading h2 {
    font-size: 33px;
    line-height: 46px;
  }
  .contentInfo p {
    font-size: 18px;
    width: 95%;
    line-height: 25px;
  }
  .d2m-solution .rental p,
  .d2m-solution .repair p {
    width: 90%;
  }
  .choose-section h2 {
    font-size: 33px;
    line-height: 50px;
  }
  .cards {
    gap: 15px;
  }
  .cards .rental p {
    width: 100%;
  }
  .cards .rental {
    width: 30%;
    margin: 0px;
    min-height: 120px;
  }
  .overviewHeading {
    font-size: 34px;
  }
  #our-services .title {
    font-size: 18px;
  }
  .sub-title {
    font-size: 33px;
  }
  .card {
    width: 150px;
    height: 150px;
    margin-left: 10px;
  }
  .front img {
    padding-top: 30px;
  }
  .back {
    padding: 5px 8px;
    font-size: 14px;
    line-height: 18px;
  }
  .customers h2 {
    font-size: 33px;
    line-height: 40px;
  }
  .card-item {
    width: 30%;
    padding: 15px;
  }
  .card-item p {
    font-size: 15px;
    line-height: 25px;
  }
  .card-item span {
    font-size: 18px;
  }
  .faq h2 {
    font-size: 33px;
    font-weight: 400;
    line-height: 45px;
  }
  footer h2 {
    font-size: 33px;
    font-weight: 400;
    line-height: 45px;
  }
  form#footer_form {
    flex-direction: column;
    margin: 3rem auto;
    width: 65%;
  }
  form#footer_form input[type="submit"] {
    width: 130px !important;
    margin: 0 auto !important;
    display: flex;
  }
  #footer_form label.error {
    bottom: -20px;
  }
}
@media (max-width: 768px) {
  .contentHeading h2 {
    font-size: 30px;
  }
  .d2m-bannerContent {
    bottom: 0%;
  }
}
@media (max-width: 650px) {
  
  .call_us_btn {
    display: none;
  }
  header {
    /* position: absolute; */
    padding: 10px 0px;
    background: #fff;
    /* overflow-x: hidden; */
    width: 100%;
  }
  /* header ul.menu {
    display: none;
    min-height: auto !important;
    position: fixed;
    background: #fff;
    width: 100%;
    position: absolute;
    top: 85px;
    background: #fff;
    width: 90%;
    left: 0px;
    margin: auto;
    right: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 20px;
    padding-top: 15px;
    padding-left: 15px;
  }
  header ul.menu.active {
    margin: auto;
  }

  header ul.menu li a {
    color: #000;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 10px;
  } */
  .right_side_menu {
    display: flex;
    align-items: center;
    /* width: 100%; */
    justify-content: end;
  }
  header ul.menu li a {
    color: #000;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 10px;
  }
  header ul.menu li a:after {
    display: none;
  }
  .d2m-bannerImg {
    height: auto;
  }
  .containerBorder {
    padding: 0px;
  }
  .d2m-bannerImg img {
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
  .contentHeading h2 {
    font-size: 27px;
    line-height: 34px;
    font-weight: bold;
  }
  .contentInfo p {
    font-size: 18px;
    line-height: 23px;
    width: 100%;
    padding-top: 15px;
    color: #5f5f5f;
  }
  .d2m-bannerContent {
    bottom: auto;
    top: 90px;
    top: auto;
    position: relative;
    width: 85%;
    margin: 25px auto;
    padding: 0px 0vw;
    text-align: center;
  }
  .d2m-appLink {
    display: flex;
    padding-top: 33px;
    gap: 13px;
  }
  .d2m-app {
    width: 50%;
  }
  .overviewContainer {
    display: block;
  }
  .overviewContent {
    width: 98%;
  }
  .direct {
    flex-direction: column-reverse;
  }
  .overviewContent p {
    line-height: 28px;
    width: 100%;
    font-size: 19px;
  }
  .d2m-solution {
    padding-top: 40px;
    justify-content: center !important;
    gap: 20px;
  }
  .d2m-solution .rental p,
  .d2m-solution .repair p {
    width: 100%;
    font-size: 16px;
    line-height: 25px;
  }
  .space-pd {
    padding: 45px 0px;
  }
  .front p {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    line-height: 26px;
  }
  .choose-section h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 46px;
    padding-top: 50px;
    padding-bottom: 30px;
    word-spacing: 3px;
  }
  .cards {
    gap: 0px;
  }
  .cards .rental {
    width: 45%;
    margin: 9px 6px !important;
    text-align: center;
  }
  .cards .rental p {
    font-size: 14px;
    width: 100%;
  }
  .hand-img {
    width: 100%;
    inset: auto;
  }
  .card-flex {
    display: flex;
  }
  .card {
    width: 180px;
    height: 180px;
    margin-left: 15px;
    margin-top: 40px;
  }
  .customers {
    padding: 0px;
  }
  .customers h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .card-item {
    width: 95%;
    padding: 30px;
  }
  .faq h2 {
    font-size: 30px;
    line-height: 42px;
    border-radius: 22px !important;
  }
  footer h2 {
    width: 94%;
    font-size: 30px;
    line-height: 40px;
  }
  .accordion-wrapper .accordion-header button {
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 0px;
    padding: 4px 10px;
    height: 70px;
  }
  .accordion-wrapper {
    width: 90%;
  }
  #faq .accordion-wrapper .accordion-item {
    margin-bottom: 20px;
    border: none;
    box-shadow: #42ad4f 0px 1px 4px;
  }
  .accordion-wrapper .accordion-header button:not(.collapsed) {
    font-size: 20px;
    line-height: 25px;
  }
  .accordion-wrapper .accordion-body {
    line-height: 28px;
    font-size: 17px;
  }
  .form-wrapper .form-select {
    margin-bottom: 20px;
  }
  .form-wrapper .form-control {
    margin-bottom: 20px;
  }
  .contact-details h2,
  .social-details h2 {
    font-size: 23px;
    margin-bottom: 18px;
  }
  .contact-wrapper {
    display: block;
    width: 95%;
  }
  .contact-details p {
    font-size: 18px;
  }
  .social-details {
    width: 55%;
  }
  section.banner-section {
    height: 70vh;
    position: relative;
  }
  .d2m-solution .rental,
  .d2m-solution .repair {
    width: 48%;
  }
  .overviewHeading {
    font-size: 30px;
  }
  .sub-title {
    font-size: 30px;
  }
  footer {
    padding-top: 30px;
  }
  form .form-wrapper {
    width: 95%;
  }
  form#footer_form {
    margin-top: 20px;
    margin-bottom: 2rem;
  }

  form#footer_form {
    flex-wrap: wrap;
    width: 90%;
  }

  #footer_form label.error {
    position: relative;
    bottom: 0px;
  }
}
